#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav ul li {
    float: left;
}

#nav ul li a {
    display: block;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
}

#nav ul li a:hover {
    background: #D1D1D1;
}

#content .article {
    margin-bottom: 25px;
}

#content .article .title {
    margin-bottom: 10px;
}

#content .article .title h2 {
    font-size: 24px;
}

#content .article .content {
    margin-bottom: 10px;
}

#content .article .author {
    font-style: italic;
}

#footer {
    margin-top: 15px;
    text-align: center;
}

.input-error {
    border: 1px red solid;
}

.error {
    color: red;
}

.success {
    color: green;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.form-profile {
    margin-top: 15px;
}

.registered {
    font-size: 12px;
    font-style: italic;
}

.input-disabled {
    cursor: not-allowed !important;
    background-color: #f5f5f5 !important;
}

.separator {
    border-top: 1px black solid;
    margin: 10px 0 25px 0;
}

.space-top {
    margin-top: 25px;
}

.comment {
    border: 1px #DDDDDD solid;
    padding: 15px;
    margin: 5px 0 5px 0;
}
